[2019-02-04 15:48] robotdan opened #1 "Initial doc and tests"
@tyduptyler13
- [x] README.md , see Node client for example
- [x] FusionAuth docs section under client libs
- [x] Some sanity tests
- [x] Publish to NPM, update build

@robotdan
- [x] Add to fusionauth.io

[2019-02-04 19:39] tyduptyler13 opened #2 "[Bug/Feature] Nodejs support"
Currently this library is only compatible with the browser due to explicit usage of `XMLHttpRequest`. This means nodejs has no way to make a request as this is missing from its scope/api.

One option is to use https://www.npmjs.com/package/xhr as an abstraction layer so that it is compatible with both nodejs and the browser.

[2019-02-05 17:00] tyduptyler13 commented on #2
After some internal discussion it has been decided that the RESTClient will be overwritable using a factory. That way nodejs or angular will work right off the bat and remain compatible.

[2019-02-08 00:17] #1 closed

[2019-06-13 23:20] robotdan opened #3 "Failing to publish 1.7.1 to NPM"
Running : `> npm publish --access=public`

[code]

Can you take a look? Maybe an issue with the domain stuff?

[2019-06-14 17:11] #3 closed

[2019-08-27 13:34] lamuertepeluda opened #5 "ValidateResponse type is wrong"
Hi,

[ValidateResponse](https://github.com/FusionAuth/fusionauth-typescript-client/blob/master/src/FusionAuthClient.ts#L5185) returned from validateJWT is wrongly typed. The definition says:

[code]

but the response returns a plain object instead. This will make either  the app crash (no methods of Map available) or the compiler complain.

I would suggest rather a different interface definition,

[2019-09-04 19:16] tyduptyler13 commented on #5
The `JWT` java type now maps to `object`

Let me know if this change works.

[2019-09-05 18:34] tyduptyler13 commented on #5
I'll revisit this when I get the chance so I can add special classes to our java2json tool and add the class/interface described in your post and use that information in any language that supports it.

[2019-10-04 21:46] #5 closed

[2019-10-10 20:25] ron-johnson opened #7 "NPM missing latest version 1.10.2"
We get an error due to a conflict between xhr and another package in our project using version 1.10.0. @tjpeden has submitted the fix to this which has been accepted as version 1.10.2. Any idea when you plan to update NPM with the latest changes?

We are currently having to compile and link the changes @tjpeden made which is less than desirable as we incorporate fusionauth to the rest of our devel

[2019-10-11 00:32] robotdan commented on #7
Hi @ron-johnson - thanks for taking the time to open the issue. I pushed the release with @tjpeden PR included as `1.10.1`.

https://www.npmjs.com/package/@fusionauth/typescript-client

Let me know if that works for you!

[2019-10-11 01:10] robotdan commented on #5
@lamuertepeluda  can you confirm @tyduptyler13 update has resolved your issue?
Thanks!!

[2019-10-11 01:47] ron-johnson commented on #7
It did, thank you!

[2019-10-11 01:47] #7 closed

[2019-10-21 10:23] lamuertepeluda commented on #5
@robotdan @tyduptyler13 definitely working! 😃 Thank you!

And sorry for the delay but I was out of office for 2 weeks

[2019-10-21 15:03] robotdan commented on #5
Thanks for the update @lamuertepeluda no worries, glad it is working for you!

[2019-11-04 22:00] NickBolles opened #8 "Obscure error messages"
If the incorrect credentials are entered a 404 is returned, and the parsing of the response body fails. This results in an obscure error:
[code]

Seems like that should be handled by the client and throw a better error. Took me a bit to figure out that I just missed a character in my email address...  😑

[2020-01-05 04:47] tjpeden opened #9 "Recent change broke browser support."
@tyduptyler13 @robotdan the change introduced by [this commit](https://github.com/FusionAuth/fusionauth-typescript-client/commit/13511c11c2f1013f27ee2d05aaee98d9794b4a27) isn't working for me in the browser. There's never a response.body, even for a normal 200 response. I also don't see that property on the response object with console.dir. I checked in both FF DE 72 and Chromium 79. I assume this

[2020-01-06 15:30] robotdan commented on #9
Thanks for letting us know @tjpeden - we'll take a look.

[2020-01-17 23:00] nscarlson opened #10 "Client not authorizing registration"
The following code does not work currently.  The client just throws a 400 error, without any description of why it fails.

[code]

Manually crafting the HTTP request works, like so:

`POST https://<base_url>/api/user/registration`

**Headers**
Content-Type: `application/json`
Authorization: `<api_key>`

I'm assuming that the client is not correctly passing the Authorization header it was instantia

[2020-01-18 01:24] robotdan commented on #10
Assuming it is related to this issue where the error JSON body is not coming back correctly.
https://github.com/FusionAuth/fusionauth-typescript-client/issues/9

When you use a different REST client, what is returned in the body when you see a `400`?

[2020-01-18 01:31] nscarlson commented on #10
This is the body I get back in the case of attempting to register a duplicate email:

[code]

[2020-01-18 01:35] robotdan commented on #9
@tyduptyler13 was unable to recreate, but we've re-worked some of the error handling and added some additional type information.

See if you can still recreate at 1.13.2
https://www.npmjs.com/package/@fusionauth/typescript-client

[2020-01-18 01:36] robotdan commented on #10
Ah, ok, so you know what the error is - and the issue is only that the JSON response is not coming back correctly.

Can you try 1.13.2 and see if you can still recreate?
https://www.npmjs.com/package/@fusionauth/typescript-client

[2020-01-18 02:03] nscarlson commented on #10
Now this shines more light on the real issue. When calling the client with an empty string for UUID, like so:

[code]

I'm getting this error:

[code]

It's not an issue if I generate and pass in my own valid UUID.  Documentation indicates that this argument is optional, however.

[2020-01-18 02:04] robotdan commented on #10
Does passing in a `null` instead of an empty setting make any difference?

[2020-01-18 02:07] nscarlson commented on #10
`null`, `undefined`, etc all give me Type errors, from the `FusionAuthClient.d.ts` definition file:

[code]
and

[code]

[2020-01-18 02:11] robotdan commented on #10
Ok, thanks. That is a bug in the client, we'll fix that in an upcoming release. Actually the empty string should work as well, we'll look into this further.

[2020-01-18 02:27] robotdan commented on #10
@tyduptyler13 can we make the `userId: UUID` parameter nullable (not optional) by either changing the `UUID` type def or maybe change the syntax in the request parameter to allow for `null` or `undefined` in addition to empty string?

For example change this

[code]

to

[code]

but would this change the usage in an interface type such as this? In other words, here we are indicating the `id` and `

[2020-01-18 19:53] rintaun opened #11 "Incorrect use of Map type"
## Problem

There are a number of types defined using `Map<K, V>`, but they are not actually instances of [Map](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Map), which leads to type warnings such as:

[code]

## Solution

As far as I can tell, these are all plain objects, so `Map<K, V>` should be replaced with `Record<K, V>`

[2020-01-21 23:45] tyduptyler13 commented on #10
We just need to make it so that any instance where a parameter is a UUID, we add the ? to it so that null/undefined is legal.

Ex:
[code]

[2020-01-22 04:56] robotdan commented on #10
I thought adding `?` made the parameter optional, which means it has to be after required parameters.

However, currently most of the methods we'd want to change are in the form of

`foo(id: UUID, request: RequestObject)`

[2020-02-26 17:24] matthew-altman commented on #9
@tjpeden Have you been able to reproduce with client versions >= 1.13.2 ?

[2020-03-13 13:08] han4wluc commented on #11
I am attempting to register a user with data. But the data is always empty. I suspect this may be because the data is a Map type. Same thing if I try to use the `updateUser`, `patchUser` API.

[code]

If I run the code. response is:
[code]

There is no data field.

<img width="622" alt="Screen Shot 2020-03-13 at 2 07 35 PM" src="https://user-images.githubusercontent.com/8134740/76623573-084a1900-6

[2020-03-13 13:13] rintaun commented on #11
@han4wluc try using a normal object instead of a `Map`, e.g.

[code]

[2020-03-13 13:26] han4wluc commented on #11
Yes, I have tried, but this way I get a type error.

<img width="718" alt="Screen Shot 2020-03-13 at 2 26 13 PM" src="https://user-images.githubusercontent.com/8134740/76625010-a808a680-6536-11ea-9ce2-e988cf8c8af1.png">

[2020-03-13 13:35] rintaun commented on #11
have you tried suppressing the error with `@ts-ignore`? if not, I would check to see if that works; that type error is incorrect because the `Map` type is being used incorrectly.

[2020-03-13 13:39] han4wluc commented on #11
Yes, it works with `@ts-ignore`. Thank you. I will use this workaround for now.

[2020-03-13 16:55] robotdan commented on #11
Thanks @rintaun for the assist!

@tyduptyler13 Is this something we can incorporate into our client library to make this work a bit better?

[2020-03-27 07:08] jfairley opened #13 "Typescript type definitions incomplete for NodeJS"
I'm using TypeScript both on the front- and back-end. This library doesn't make it immediately clear that it has front-end dependencies, at least in the types, as is immediately obvious if you install this with a TypeScript Node application.

Please update the Readme, and whatever else necessary to make that more clear.

[2020-04-01 16:55] tyduptyler13 commented on #11
This is something I can change in our client builder type mapping file. I will look into fixing it.

[2020-04-04 04:56] luizeduardogiampaoli opened #14 "Possible conversion error when setting roles during register."
Hello!
First of all, thanks for the great work! I am using fusionauth-typescript-client from NestJs. Works great!

I noticed that you specified attribute roles?: Set\<string>  for interface UserRegistration located at FusionAuthClient.d.ts. I wonder, why not use: roles?: Array\<string> ?

When I try to register a given user to an application using, for example, the following code snippet:

[code]

[2020-04-06 15:11] robotdan commented on #14
@tyduptyler13 when you get a moment, could you take a look at this one?

[2020-04-06 15:51] robotdan commented on #8
Thanks for the report @NickBolles - I want to say we've corrected this behavior.

The `404` status code is correct, but when we receive that status code from FusionAuth, the client should expect the body length to be 0.

If you still encounter this error let us know. Thanks!

[2020-04-06 17:52] NickBolles commented on #8
I'll try it out. Thank you!

[2020-04-11 21:09] snazzypants commented on #8
What version should be checking to see if this is fixed? I am also seeing this behavior - am on FusionAuth version 1.15.8 and @fusionauth/typescript-client 1.15.4

[2020-04-12 01:29] robotdan commented on #8
@snazzypants you get a `404` and the client is attempting to deserialize the body and you see a similar exception as @NickBolles?

Can you provide an example snippet of code and the response or error you're seeing? Thanks.

@tyduptyler13 I was thinking this was something we fixed already. In the case of the Login API, or others - that may return a `404` w/out a body - the client should be able to

[2020-04-12 01:58] NickBolles commented on #8
@robotdan I haven't tried this again, but this seems like where the error would occur

[code]

Specifically this line:
[code]

[2020-04-13 15:34] tyduptyler13 commented on #14
This is related to #11. I will change this type as well.

[2020-04-13 15:56] tyduptyler13 commented on #14
Published the change in `1.15.8`. Let me know if you have any problems.

[2020-04-13 15:56] #14 closed

[2020-04-13 15:56] tyduptyler13 commented on #11
Published the change in `1.15.8`. Let me know if you have any problems.

[2020-04-13 15:56] #11 closed

[2020-04-13 16:55] rintaun commented on #11
@tyduptyler13 is there a particular reason for the choice to use a custom `ObjectMap<K,T>` type over the built-in `Record<K,T>`? It looks like its doing the same thing

[2020-04-18 16:41] snazzypants commented on #8
I've updated to 1.15.8 and still get this behavior.

Sample code using this library:
[code]

With invalid credentials, the console.log output in the catch block:
[code]

When I hit the fusionauth server login endpoint directly with a wrong password, it returns a 404 with no body, as expected.

[2020-04-18 18:37] cheelahim opened #15 "ObjectMap interface definition error"
Client version: 1.15.8

**Problem**
Current definition of the `ObjectMap` interface in `FusionAuthClient.ts`:
[code]
This leads to the compilation error:
 `TS1023: An index signature parameter type must be either 'string' or 'number'.`

**Possible solutions**

1. Preferably remove the `ObjectMap` interface from the codebase in favor of built-in utility type [Record<K,T>](https://www.typescriptlang

[2020-04-20 04:56] robotdan commented on #15
@tyduptyler13 can you take a look ? Is this similar to the issue we just fixed?  https://github.com/FusionAuth/fusionauth-typescript-client/issues/11

[2020-04-20 05:05] robotdan commented on #8
@tyduptyler13 can you take a look and see if this is still an issue, or perhaps we have a second issue to resolve?

[2020-04-21 18:08] tyduptyler13 commented on #15
Thank you for the input. This was quite helpful in fixing fully typed objects. 👍 I have modified the builder to use Record instead of our ObjectMap which feels cleaner.

[2020-04-21 18:29] #15 closed

[2020-04-21 18:31] tyduptyler13 commented on #13
Hi,

I'm not sure I understand your issue. This client is designed to run in both the browser and the node environment. Could you help me by showing me what we are doing wrong?

-Tyler

[2020-04-21 18:37] tyduptyler13 commented on #10
@robotdan You are correct. Null is always implicitly allowed. The `?` makes it optional and thus it cannot come first in the argument list. I also just checked and we have tests that call functions with `null` passed in for UUID parameters. I suspect this issue has to do with his version of typescript or maybe his IDE?

[2020-04-21 22:45] jfairley commented on #13
@tyduptyler13 Sorry for the slow response. When I install this in my node library, it fails, unable to resolve some browser types like `Request`, `RequestCredentials`, and `FormData`.

[code]

My config is:

[code]

[2020-04-21 22:55] jfairley commented on #13
I take it, the issue is that you have `@types/request` listed as a dev dependency, which makes things work for you, but not for me.

You might consider moving `@types/request` to `"dependencies"` _OR_ reworking the code to not rely on `@types/request`.

[2020-04-21 23:05] jfairley commented on #13
Well, `@types/request` isn't the issue, so sorry for that suggestion. (I cloned locally, removing that type.)

Either way, it's definitely pulling from TypeScript's `lib.dom.d.ts`. That's where it all falls apart when I'm trying to run it in NodeJS.

<img width="757" alt="Screen Shot 2020-04-21 at 5 03 09 PM" src="https://user-images.githubusercontent.com/992483/79923185-4a4b6200-83f2-11ea-9e06-b0

[2020-04-21 23:24] tyduptyler13 commented on #8
I refactored our typescript client to dynamically determine the response type. Previously we were statically compiling the response handler into every call but now it just generically always uses the json handler (which can skip json parsing if the body isn't returning the correct content type).

We just rolled a release so it might be a little bit of time before we publish the changes, however I

[2020-04-21 23:33] tyduptyler13 commented on #13
Hi,

Thank you for the notice. I will yank that dependency as well. The problem is likely coming from the `cross-fetch` dependency which determines if we are in the browser or node and polyfills the fetch api if we are in node using request (I think).

Additionally I just refactored this client to hopefully keep all of the REST client stuff separated out of the actual API. See if its still an issu

[2020-04-22 03:07] jfairley commented on #13
It seems to be an issue still.

I pulled the latest from `master` then:

[code]

This time there are only 6 errors. (It no longer complains about `[key: K]: T;`)

[2020-04-22 21:04] tyduptyler13 commented on #13
Hi,

So after some investigation it seems that cross-fetch isn't able to provide those types (which it really needs to). Moving forward I think I will have to use a more advanced compilation for browser vs node to get the types right or as a holdover, you will have to include lib.dom.

The workaround for now will be to tell typescript to stop complaining because this is tested on node and it is kn

[2020-04-23 01:27] jfairley commented on #13
Thanks. I'll give that a try. Also if I have any suggestions here, I'll make a pr.

[2020-04-26 05:16] nutellplox opened #16 "ReferenceError: FormData is not defined"
I was migrating over from the @fusionauth/node-client and I ended up getting this error `ReferenceError: FormData is not defined` when calling the exchangeOAuthCodeForAccessToken method.

Am I missing a dependency? I tried to install the FormData npm packge, but that didn't work. I'm kind of new to node, so any help would be greatly appreciated!

[2020-04-26 10:28] cheelahim commented on #16
@nutellplox I believe it is a bug in the library. It relies on browser built-in FormData which makes it unusable in the node environment at the moment.

@tyduptyler13 @robotdan I assume this client is supposed to work in both browser and server environments. Is there a specific reason to rely on browser built-in FormData object? The DefaultRESTClient ignores the interface anyway as well as the und

[2020-04-27 14:03] friedemannsommer opened #17 "Build error with generated typings file"
Typescript Version: `3.8.3`

I'm running into build issues when trying to build an app containing the depency `@fusionauth/typescript-client@1.15.8`.

This is the build error:
[code]

I've tried to find the corresponding line in the sourcecode but i couldn't find an `interface` with the name `ObjectMap`.

[2020-04-27 16:55] tyduptyler13 commented on #16
Hi,

This is related to #13. I am still working on a fix that keeps the source separated from both browser and nodejs while still giving the proper type support. I may just end up having two separate REST clients, one for nodejs and one for browser to get the types correct.

The core issue is that we switch to use `cross-fetch` some time back but need more types than what it provides.

[2020-04-27 17:20] tyduptyler13 commented on #17
This was fixed recently to use `Record` instead. You may have to use our release candidate build instead.

[2020-04-27 18:03] cheelahim commented on #16
@tyduptyler13 would isomorphic [unfetch](https://github.com/developit/unfetch) with its [isomorphic types](https://github.com/developit/unfetch/blob/master/src/index.d.ts) be a viable alternative?

[2020-04-27 22:15] tyduptyler13 commented on #13
Hi, could you try pulling and testing my types-fix branch and see if it fixes your issue?

[2020-04-27 22:35] tyduptyler13 commented on #16
Hi @cheelahim ,

I have attempted to fix this issue on the fix-types branch. If you would like to try pulling the latest version of that then you shouldn't see any problems.

[2020-04-28 08:46] friedemannsommer commented on #17
@tyduptyler13 These aren't available on npm, right? I can't find a `@fusionauth/typescript-client` package with `1.16.X`.

[2020-04-28 13:59] robotdan commented on #17
I pushed the `1.16.0-RC.1` build if you want to try it.
https://www.npmjs.com/package/@fusionauth/typescript-client

[2020-04-28 21:52] #13 closed

[2020-04-28 21:52] #16 closed

[2020-04-29 08:03] friedemannsommer commented on #17
@robotdan Thanks the build error is gone and the application works :+1:

[2020-04-29 15:24] #17 closed

[2020-05-03 14:27] jfairley commented on #13
@tyduptyler13 I'm using the client, and it builds correctly.

I do have two issues I'm stumped on:

1. My unit tests, which use [`nock`](https://www.npmjs.com/package/nock) fail. It would seem the fusion auth requests changed somehow. I haven't yet dug into details.
2. When I start my app and try login, which uses `exchangeOAuthCodeForAccessToken()` I'm getting the following response:
    * `{"sta

[2020-05-03 16:27] tyduptyler13 commented on #13
Hi, I believe that this is an issue in all the clients, we don't currently annotate optional parameters in the builder (outside of javadoc), and even then, in some cases the optional parameters don't come first. To solve this in typescript we have been supplying null instead.

[2020-05-03 16:27] tyduptyler13 commented on #13
As for your other issue, I believe @robotdan is your best source of info.

[2020-05-11 14:59] ulybu opened #19 "breaking when optional parameters omitted"
Hi,

Some parameters are optional, as per the API doc but lib breaks if not provided.
This is specific of the typeScript lib, doesn't happen on node-client. It comes from the formData builder.

### How to reproduce:
call
[code]

### Expected Result:
Request should be sent.

It should work with only those parameters, particularly, `scope` is optional. see doc: https://fusionauth.io/docs/v1/tech/oau

[2020-05-14 23:27] mooreds opened #20 "Unable to use exchangeOAuthCodeForAccessToken"
I get a 500 error when I am trying to use the code on this branch: https://github.com/FusionAuth/fusionauth-example-node/tree/update-to-typescript

This app worked fine with the node client (I can dig up the commit if that will help, it's on that branch).

I have a 1.16.0 new fusionauth instance pulled from docker this morning.

I can make an API call just fine (in the `test` route), but `exchange

[2020-05-14 23:37] robotdan commented on #20
Related?

https://github.com/FusionAuth/fusionauth-typescript-client/issues/13#issuecomment-623118480

[2020-05-15 01:57] mooreds commented on #20
Ahh, here's some output from the docker log file:

[code]

[2020-05-15 14:43] voidmain commented on #20
Looks like multipart content that might be missing the correct Content-Type header.

[2020-05-15 22:32] tyduptyler13 commented on #20
Resolved in `1.16.0`

[2020-05-15 22:32] #20 closed

[2020-05-15 22:33] tyduptyler13 commented on #19
Hi,

I believe this is fixed in `1.16.1`. Feel free to try it out.

[2020-05-16 01:37] jeremiese opened #21 "'missing_grant_type' error when using exchangeOAuthCodeForAccessToken in TypeScript"
When using the TypeScript library, I always get the 'missing_grant_type' error when I use `exchangeOAuthCodeForAccessToken`.

My setup:

FusionAuth 1.16 (Docker)
TypeScript FusionAuth Client: 1.16.1
NodeJS 12.16.3

The same function works flawlessly with the NodeJS FusionAuth client. I looked at the code for the TypeScript version, and the code says "body.append("grant_type", "authorization_code")

[2020-05-16 02:27] mooreds commented on #21
Hmm. I ran into the same issue here: https://github.com/FusionAuth/fusionauth-typescript-client/issues/20 but upgrading to 1.16.1 fixed it. Here's my sample code that works: https://github.com/FusionAuth/fusionauth-example-node

Can you try the example code against your FusionAuth server and see if that works?

[2020-05-16 14:22] jeremiese commented on #21
Thanks a lot! My version of FusionAuth is 1.16 (Docker) and my TypeScript client version is 1.16.1 (I just upgraded yesterday and tried, and it still failed).

The difference I see with your setup is that you're in pure Node with the TypeScript FusionAuth client whereas I'm using TypeScript for my whole code plus the TypeScript FusionAuth client. So far, I've had success using TypeScript + NodeJS

[2020-05-16 15:34] jeremiese commented on #21
I went back to my code and checked deeper, and you're right, it was only the 1.16.1. I had upgraded to 1.16.1 in another closely related service, so I mixed them both and thought I had upgraded in service 1 while the upgrade was only in service 2.

So I made sure both my services were upgraded to 1.16.1, and now everything works perfectly fine using TypeScript + TypeScript FusionAuth client.

Than

[2020-05-16 15:34] #21 closed

[2020-05-16 16:06] mooreds commented on #21
Awesome, we love easy fixes!

[2020-05-16 16:11] jeremiese commented on #21
Indeed!

[2020-05-20 15:54] mooreds opened #22 "Browser example doesn't run when cloned"
The browser example doesn't run when you first clone it.

[code]

The fusionauth javascript files point to files that don't exist in the repo, you have to build them with `sb build` which most people won't have.

Ideally the files would be generated by the client library build and then checked in.

[2020-05-20 15:55] mooreds commented on #22
After you run `sb build` you may need to copy the build client library javascript if your browser doesn't support symlinks. Then it appears to run just fine.

[2020-05-24 08:53] zadigus opened #23 "The host passed to the FusionAuthClient ctor must not end with a "/""
I've been tracking down that little bug for a few hours now, and finally I've found the problem. I have this code:
[code]
I was not able to login with that code, because my `AUTH_URL` ended with a trailing `/`. In the application's console, I indeed can see that the `FusionAuthClient` sends its requests to the `/api/login` endpoint with two slashes in the address, i.e. something like this:
[code]

[2020-05-26 23:25] mooreds commented on #23
Seems like a bug to me, at least in the documentation.

[2020-05-27 05:26] zadigus commented on #23
The same happens in the python client. I have not tested the other clients, but I would presume this little detail is present everywhere.

[2020-05-27 15:52] robotdan commented on #23
If we have a host ending in a `/` in the doc, that would be a bug, did you find that somewhere?

But the symptom you're observing is working as designed.  `https://auth.shopozor` is not equal to `https://auth.shopozor/`.  In some cases, web servers will ignore duplicate forward slashes in the URL path.

We could explore modifying our MVC to ignore duplicate forward slashes in the URL path, but it

[2020-05-28 06:23] zadigus commented on #23
Ok. It's not crucial for me. I can live with that. I have not found hosts ending with `/` in the doc (I haven't looked at that in particular). To me, it's just a bit strange because both urls are valid (with or without the trailing slash), so I'd expect the code to work the same. It's a detail in the end.

[2020-05-30 01:14] jfairley commented on #13
@tyduptyler13

Just to update, I've upgraded to the typescript client. I am providing empty-string for those `scope` and `user_code` fields I mentioned in my last comment.

As far as my other issue, it seems to have been fixed at some point, because it's no longer an issue in `1.16.1`.

[2020-05-31 14:02] karllhughes opened #24 "PKCE Verifier in auth code exchange"
I noticed while setting up FusionAuth with a client-side only application that I don't believe this library supports the PKCE flow outlined here: https://fusionauth.io/learn/expert-advice/oauth/definitive-guide-to-oauth-2#52-code-flow--pkce

I think the `exchangeOAuthCodeForAccessToken()` method in the [FusionAuthClient](https://github.com/FusionAuth/fusionauth-typescript-client/blob/master/src/Fu

[2020-06-11 11:15] ulybu opened #26 "exchangeRefreshTokenForAccessToken breaks compatibility with node-client"
So I don't know if the current behavior is good or not, but I know it differs from the _node-client_ and breaks compatibility.

I use to call the following without error with the _node-client_
[code]

Now the same code gives me the following error:

[code]

To fix it, I need to modify my code and add the scope parameter:
[code]

----

I'm raising that as an issue because the readme in _node-client

[2020-06-11 17:28] mooreds commented on #26
Hiya!

Thanks for letting us know.

What version of the node client were you running previously? What version of the typescript client are you moving to?

[2020-06-12 08:36] adriano-di-giovanni opened #27 "ClientResponse seems to be exported incorrectly"
It seems to be not possible to

[code]

The only way seems to be

[code]

[2020-06-12 11:35] ulybu commented on #26
Hi,

` "@fusionauth/node-client": "1.16.0"` => `"@fusionauth/node-client": "1.16.0"`

[2020-06-13 21:03] paustint opened #28 "calling wasSuccessful throws an exception"
When I try to call `wasSuccessful()` an exception is thrown from

[code]

When I inspect the javascript of the library, I see that indeed`statusCode` does not exist on the class `ClientReponse`.

The generated javascript does not appear to match the typescript definition.

![image](https://user-images.githubusercontent.com/5461649/84578928-c6c14800-ad86-11ea-8544-405d89a75fd9.png)

[2020-06-13 21:49] paustint opened #29 "typescript definition lists all arguments as required when many are optional"
The documentation for many functions (such as `exchangeRefreshTokenForAccessToken`) clearly states that many arguments are optional properties, but the typescript definition file lists all arguments as required.

The typescript functions should match the documentation so that users do not have to pass in `null` or `undefined` as arguments to avoid compiler errors.

Here is an example:

[code]

[2020-06-15 08:52] lamuertepeluda opened #30 "Proxy/Agent parameters for Rest Client"
Hello there,

I find myself in the unpleasant situation where I have a corporate proxy that is annoying me each time I try to make an HTTP Connection.

I see that FusionAuthClient has no way of adding a [custom http agent](https://nodejs.org/api/http.html#http_class_http_agent), or at least proxy parameters (that should be passed via an agent).

I've also seen that the RESTClient class is based on

[2020-06-15 09:13] lamuertepeluda commented on #30
Sorry I forgot to mention I was referring to the latest release of the fusionauth typescript client

[2020-06-22 10:50] ulybu commented on #26
Hi,

I think it could come from the fact that in the node-client lib the body is explicitly serialized with `JSON.stringify`, which will effectively remove any undefined prop, like for instance `scope` if not provided to `exchangeRefreshTokenForAccessToken`

https://github.com/FusionAuth/fusionauth-node-client/blob/0a5c326adc097c85e3572244f70f25088e3de061/lib/RESTClient.js#L74

[code]

Whereas in

[2020-06-23 17:46] mooreds commented on #26
That sure looks like a incompatibility to me. I'll take a look. We also welcome pull requests if you want to just patch `DefaultRESTClient.ts`.

[2020-06-26 12:49] ulybu commented on #26
Ugh, that seems too risky to _me_ because I don't know the reason why the dropped the `queryString.stringify` in the first place. I can't just assume that's an oversight, right? I might very well be breaking something for someone else by adding `queryString.stringify`

I could submit a PR and let you guys deal with that risk assessment?

[2020-06-26 16:54] mooreds commented on #26
No worries, I ended up submitting a PR (#32), so no effort needed on your part. Thanks again for reporting this.

[2020-07-28 16:06] snazzypants commented on #8
just updated to 1.18.0 and this works great! Thanks! I can't close this issue, but if @NickBolles @robotdan want to close this, I think that would be appropriate!

[2020-07-28 17:18] #8 closed

[2020-07-28 17:18] NickBolles commented on #8
Thanks for confirming @snazzypants I'll close

[2020-08-19 23:09] dakkafex opened #36 "Passing configuration object to FusionAuthClient"
Would be a syntactic improvement (if you ask me) if you could pass a configuration object to `FusionAuthClient` instead of directly passing the constructor values.

For readability it looks a tad nicer if you got

[code]

[2020-08-23 17:08] laznic commented on #10
What's the status of this? The user ID still seems to required and disallows you to create and register the user with this one `register` function. The same `The Id of the User was not specified on the URL.` error seems to be result even with a regular HTTP request without this TypeScript client.  The documentation is also a bit misleading since it states that the user ID is optional.. Hoping for

[2020-09-08 16:31] robotdan commented on #36
Thanks for the suggestion @dakkafex . Feel free to submit a PR, or we may be able to get to this shortly, should be an easy addition.

[2020-09-08 16:55] robotdan commented on #36
Ah, I see there already is in open PR. https://github.com/FusionAuth/fusionauth-typescript-client/pull/37 I'll take a look.

[2020-10-21 10:37] NickPelov opened #39 "Accessing FA from localhost"
I've created a React app that uses the fusionauth-typescript-client to connect to a self hosted FA instance.

The requests are blocked by the CORS policy (when developing locally) and I tried a couple of different setups for the FA CORS policy, but nothing seems to work as expected.

We don't want to create a backend gateway just to bypass the CORS policy on localhost, because the production web-a

[2020-10-21 15:45] mooreds commented on #39
Hiya,

What browser are you using? It looks like chrome has issues with localhost and CORS: https://stackoverflow.com/questions/10883211/deadly-cors-when-http-localhost-is-the-origin

That post has some suggestions (chrome extensions, using a service like lvh.me, start up chrome with `--disable-web-security`).

[2020-11-07 21:18] nscarlson opened #40 "Validation of signed JWTs in an offline manner"
I'm currently calling `validateJWT()` on every request from my microservices to validate the JWT.  While I'm sure this may be a very lightweight request, but can `FusionAuth` provide advice or examples for, say, validating the token on some microservice without having to make requests to the auth server?

The current implementation of `validateJWT()` appears to make a network requests per invocati

[2020-11-09 17:53] nscarlson commented on #39
Using the `cors` package, here are my minimal CORS options currently working for me:

[code]

With express:
[code]

With Apollo:
[code]

[2020-11-09 19:36] robotdan commented on #40
If you wont to skip calling FusionAuth for each of these validation events, you can validate the JWT on your end.

If you configure a key pair (public + private) to sign your JWT, then the public key will be available in the JWKS. Maybe libraries exist that will validate JWTs using JWKS.

https://fusionauth.io/docs/v1/tech/oauth/endpoints/#openid-configuration
https://fusionauth.io/docs/v1/tech/oa

[2020-11-10 06:05] nscarlson commented on #40
Thanks @robotdan, these resources are exactly what I need.

[2020-11-10 06:05] #40 closed

[2020-11-11 11:20] NickPelov commented on #39
Sorry for the late response on this our work on the authentication was put on hold for a bit.

I am indeed using chrome so that is probably the issue. But we also tried deploying our app and we get:

Our app is hosted on a domain a (https://example.example.com/login) and our fusion auth instance is running on (https://example2.otherdomain.com).
We couldn't find a way to set a flag or to set an opt

[2020-11-11 13:50] mooreds commented on #39
How have you configured CORS in FusionAuth? Here's the docs about it: https://fusionauth.io/docs/v1/tech/reference/cors/

I don't believe tweaking the typescript client is helpful because the issue is with the browser rules. (As a troubleshooting measure, you could always try running the same code in node and ensuring that works, because it won't have CORS limitations.)

[2020-11-12 15:15] NickPelov commented on #39
Ok thanks for the information. I'll refer to some documentation on CORS. Thanks for the time and information.

[2020-11-12 15:15] #39 closed

[2020-11-12 17:32] mooreds commented on #39
Did the CORS fix work? We can keep this open until you get the issue resolved if you'd like. In other words, feel free to re-open. (Maybe we need to update the documentation, too.)

[2020-12-22 17:53] dan-barrett opened #42 "Make Optional API Fields Optional in Typescript Client"
https://github.com/FusionAuth/fusionauth-typescript-client/blob/1d54de7225ca0981d50bd1d4d5e2e9cd58e967d7/src/FusionAuthClient.ts#L401

`userId` I think should be an optional field here. The API and the docs say it is optional, but the Typescript client is forcing me to put one in.

There are other instances in this file where optional parameters are required.

[2020-12-22 18:22] mooreds commented on #42
Does it force the `userId` to be a valid UUID, or can you use `null`?

[2020-12-22 18:25] dan-barrett commented on #42
`UUID` is just a type alias for a `string` so neither `null` nor `undefined` work.

[code]

I will test with an empty string to see if that behaves the way I need, and worst case scenario I will generate a UUID client side in the short term. But still probably should be changed at some point.

[2020-12-22 23:45] mooreds commented on #42
Agreed, this appears to be a bug.

[2021-02-06 13:53] ceefour opened #43 "actionUser `expiry` field cannot be set to "infinity" (9223372036854775807)"
Reference: https://fusionauth.io/docs/v1/tech/apis/actioning-users/#take-an-action-on-a-user

Since Java API uses `Long` and the `expiry` field TypeScript definition uses `number`, trying to use that number literal will give TypeScript warning "Numeric literals with absolute values equal to 2^53 or greater are too large to be represented accurately as integers.ts(80008)"

And also when executing t

[2021-02-08 16:33] voidmain commented on #43
It looks like you might have a typo. The docs state that the max value is `9223372036854775807` but the error you've included says you passed in the value `9223372036854776000`. I believe the documentation is correct and as long as the client library passes the value as a JSON number, it should work.

Let me know if I'm missing something on this issue though.

[2021-02-08 17:19] ceefour commented on #43
It is easy to check this by using your own local `node` or your browser's Inspect:

![image](https://user-images.githubusercontent.com/24123/107256631-4d403d80-6a6c-11eb-8a1d-b0d4bb2019b8.png)

That's really the problem mentioned there:

[2021-02-09 15:47] voidmain commented on #43
Ah. Got it now. That's quite the limitation of the JS system and it makes no sense that the system would be rounding UP. That's just crazy talk.

Honestly, I've never bee a huge fan of using `Long.MAX_VALUE` for Infinite actions. I'd prefer to update the FusionAuth code to handle `nulls` and missing values for `expiry`.

I did a quick review of the code and it appears that using a value such as `9

[2021-02-10 11:40] ceefour commented on #43
@voidmain I do agree that expiry == null should mean infinite. But definitely null never means 0 here, as an expiry of 0 don't make sense.

It's still practical to follow your suggestion of a large-enough instant, as for all practical users the user would've already been dead anyway by the time his/her user account restriction is lifted. ^_^

[2021-03-17 18:41] yamatsum opened #45 "return 405 when run client.exchangeOAuthCodeForAccessTokenUsingPKCE"
I did the following tutorials using fastify.
https://fusionauth.io/docs/v1/tech/5-minute-setup-guide/

The login itself is working fine, but when I run `client.exchangeOAuthCodeForAccessTokenUsingPKCE` I get a 405 error.

There is no problem if it is executed by express as in the sample, but it fails when using fastify. Is there a sample of fastify?

log
[code]

please help

[2021-03-18 05:04] #45 closed

[2021-04-29 06:23] ceefour opened #48 "Missing API: changePasswordByJWT that accepts a JWT token"
Currently only `changePasswordByIdentity` is given, however there is API for change password using JWT, but it's currently not possible: https://github.com/FusionAuth/fusionauth-typescript-client/blob/41aab6591a39bb6ec27b99630d9be06e569b3c7b/src/FusionAuthClient.ts#L146

Change password using JWT REST API: https://fusionauth.io/docs/v1/tech/apis/users/#change-a-users-password

[2021-04-29 09:37] adriano-di-giovanni opened #49 "Provide method to generate the /oauth2/authorize URL"
I searched through the code but I couldn't find a method that can be invoked to have the `/oauth2/authorize` URL.

I'm talking about something like Google's [OAuth2Client#generateAuthUrl](https://github.com/googleapis/google-auth-library-nodejs/blob/master/src/auth/oauth2client.ts#L522).

It would be great to have such a method in order to always use the client to send all of the requests.

[2021-04-29 09:42] adriano-di-giovanni opened #50 "Provide method to generate the /oauth2/logout method"
I searched through the code but I couldn't find a method that can be invoked to have the `/oauth2/logout` URL.

It would be great to have such a method in order to always use the client to send all of the requests.

[2021-04-30 14:30] mooreds commented on #50
Thanks for the suggestions @adriano-di-giovanni , appreciate you using FusionAuth and filing this issue!

I filed an [issue here](https://github.com/FusionAuth/fusionauth-issues/issues/1192) as we generate all our client libraries from the same template.

Going to close this out as we can track progress on issue 1192.

[2021-04-30 14:30] #50 closed

[2021-04-30 14:30] mooreds commented on #49
Thanks for the suggestions @adriano-di-giovanni , appreciate you using FusionAuth and filing this issue!

I filed an [issue here](https://github.com/FusionAuth/fusionauth-issues/issues/1192) as we generate all our client libraries from the same template.

Going to close this out as we can track progress on issue 1192.

[2021-04-30 14:30] #49 closed

[2021-05-12 10:46] adriano-di-giovanni opened #54 "The retrieveUserInfoFromAccessToken doesn't return a UserResponse"
The [retrieveUserInfoFromAccessToken](https://github.com/FusionAuth/fusionauth-typescript-client/blob/master/src/FusionAuthClient.ts#L3295) doesn't return a [UserResponse](https://github.com/FusionAuth/fusionauth-typescript-client/blob/master/src/FusionAuthClient.ts#L8592-L8597)

Instead, it returns a response that has the shape described in the [docs](https://fusionauth.io/docs/v1/tech/oauth/endp

[2021-05-12 19:43] mooreds commented on #54
That's a good catch. We should fix it here: https://github.com/FusionAuth/fusionauth-client-builder/blob/master/src/main/api/retrieveUserInfoFromAccessToken.json

I think the correct object to return would be a `UserInfoResponse`

https://github.com/FusionAuth/fusionauth-client-builder/blob/master/src/main/domain/io.fusionauth.domain.oauth2.UserinfoResponse.json

[2021-05-13 07:35] adriano-di-giovanni commented on #54
[UserInfoResponse](https://github.com/FusionAuth/fusionauth-typescript-client/blob/master/src/FusionAuthClient.ts#L8456) is now defined as a `Record<string, any>`. Could it be more specific?

[2021-05-13 14:28] mooreds commented on #54
@adriano-di-giovanni hmmm. The `userinfo` response is defined by the OIDC specification. Here's a couple of relevant excerpts:

https://openid.net/specs/openid-connect-core-1_0.html#UserInfoResponse

https://openid.net/specs/openid-connect-core-1_0.html#JSONSerialization

I'm no typescript expert, but this would seem to indicate that a record type is the correct type. Am I misunderstanding things?

[2021-05-14 08:38] adriano-di-giovanni commented on #54
The `UserinfoResponse` type is correct but pretty vague. It would be nice to use a type describing the supported claims

[code]

as defined in the spec:

https://openid.net/specs/openid-connect-core-1_0.html#StandardClaims

[2021-05-14 13:52] mooreds commented on #54
Thanks @adriano-di-giovanni

I opened up two issues in our main issue repo for tracking this. The original issue you reported is definitely a bug. If you'd like to submit a PR against the client library changing that, we'd welcome it, otherwise we'll try to get that fixed soon.

The suggestion here: https://github.com/FusionAuth/fusionauth-typescript-client/issues/54#issuecomment-841103083 is a ne

[2021-05-14 13:55] adriano-di-giovanni commented on #54
@mooreds I thought the client library was generated. If so, what should be changed?

[2021-05-14 14:00] mooreds commented on #54
It is generated, you are correct.

For the bug, I think the change is as simple as modifying https://github.com/FusionAuth/fusionauth-client-builder/blob/master/src/main/api/retrieveUserInfoFromAccessToken.json to have a `successResponse` of `UserinfoResponse`.

The feature is a bigger effort, not quite sure what needs to be done there, probably creating a new domain object. We generate our domain

[2021-06-08 14:47] jdegger commented on #45
What was the reason you got this?

[2021-06-09 07:12] jdegger commented on #45
For anybody having this: It turned out I had written my URL wrong: http://company.fusionauth.io for example instead of `https://`, the redirect to `https://` caused the error

[2021-06-09 13:01] mooreds commented on #45
Thanks @jdegger for sharing your experience! I also ported it over to the forum (which gets more traffic, so your advice will help more people). https://fusionauth.io/community/forum/topic/1081/405-when-running-client-exchangeoauthcodeforaccesstokenusingpkce

[2021-06-10 13:50] jdegger opened #55 "Expose typedoc docs"
Hi

It would be wonderful if you could expose the TypeDoc automatically generated docs, I think this will be beneficial for loads of users.

https://typedoc.org/

Especially the methods in `FusionAuthClient` are ideal. I know loads of IDEs expose all the type hinting automatically, be we are in an older project without all the fancy typescript stuff which makes the documentation a must-have

[2021-06-11 01:42] robotdan commented on #55
We’ll have to figure hour what we need to change to publish this when we publish to npm.

[2021-06-11 06:44] jdegger commented on #55
You could generate the `docs` folder through typedoc and deploy that in GitHub pages right on you main branch or create a separate branch with the docs for all releases.

To keep the docs out of your npm package you could add `docs` folder to `.npmignore`

[2021-06-11 06:47] jdegger commented on #55
Additionally, an example of the current TypeDoc output:

[docs.zip](https://github.com/FusionAuth/fusionauth-typescript-client/files/6636368/docs.zip)

The path `/docs/classes/fusionauthclient.html` is the most interesting imo, typedoc might need some tweaking to make the overview a bit more readable https://typedoc.org/guides/options/

[2021-06-14 15:58] robotdan commented on #55
Thanks for the additional insight @jdegger much appreciated.

[2021-07-14 20:19] facundorodriguez0 commented on #42
Hello! Hope you're doing well! I'm having the same issue here
![image](https://user-images.githubusercontent.com/85038292/125687259-7ff9501c-cca3-49d9-9d42-179c1eb7a99b.png)
Any updates about it?

[2021-07-15 14:46] robotdan commented on #42
Not sure the best way to fix this.

The current method signatures is:

[code]

It should be (I think):

[code]

But we can't have a required parameter follow an optional, so would need to re-order these parameters to use the `?` syntax. This would be a break for anyone using this library currently.

Is there a better way to do this in TS w/out re-ordering the parameters? Maybe we default the param

[2021-07-21 12:27] arminetemadi opened #56 "'loginConfiguration' and 'lambdaConfiguration' not working when createApplication"
Hi,
I'm trying to set some configurations (like 'loginConfiguration', 'lambdaConfiguration') when using `createApplication`, but none of them is working!
in the response it shows that these configs are properly set, but actually its not! Im checking it with another 'get' request, and those are not set!
this is my request body:
`
{
  application: {
    name: "test",
    loginConfiguration: {

[2021-07-21 13:26] #56 closed

[2021-07-23 22:12] mooreds commented on #42
If we use

[code]

Do we need a way to mark UUID as optional (when building the client lib, not at runtime)?

If so, I don't think we have one, but we need such an attribute for openAPI (see https://github.com/FusionAuth/fusionauth-client-builder/blob/openapi-poc/src/main/api/createUserAction.json where I added `required: false` as an attribute).

[2021-07-27 04:08] robotdan commented on #42
We do have some "optional" capability. I think we currently parse for "Optional". We could make it more official in our DSL.
https://github.com/FusionAuth/fusionauth-client-builder/blob/947bc46da306d6819a7f537c74bd952c9a6c78a6/src/main/client/_macros.ftl#L226

[2021-07-27 20:03] jobannon opened #57 "Missing JWTManager"
# Summary

Per feedback from the community, logging this for tracking purposes.  This functionality is present in the Java client.

https://fusionauth.io/learn/expert-advice/tokens/revoking-jwts/?ht-comment-id=608754

[2021-07-28 15:00] robotdan commented on #57
We would welcome a PR from the community as well.

[2021-07-29 17:06] mooreds commented on #42
Having a separate field in the DSL might be a little more ... robust ... than parsing a comment for the word 'Optional'. :)

[2021-08-03 20:59] DanielJoyce commented on #42
You need to turn on 'strict' in the tsconfig.json, otherwise a whole bunch of useful checks are skipped and you get inconsistencies like this.

If the issue is browser vs node client, then splitting into seperate types, and sharing commong code is best option.

So ServerOptions, BrowserOptions both extend Options, etc.

I just fought this same mess with the Okta client.

[2021-08-04 03:52] robotdan commented on #42
Totally agree. This shouldn't be too hard to add.

[2021-08-04 03:54] robotdan commented on #42
Thanks for the feedback @DanielJoyce  - I apologize we are bit weak on TypeScript over here.

 In your experience, do clients built with OpenAPI / Swagger work pretty well? We have been reviewing options if we want to keep building our own template for these and battle with not knowing every language as well as we'd like, or if we can use something like OpenAPI to build a idiomatic client if we ju

[2021-08-04 04:07] DanielJoyce commented on #42
Each language is different and I think the problem you are running into here is the fact browser spa place flow has different needs and features than saw a flow used by nodejs. And different languages bring different tools to the table and need to express things in different ways to be ergonomic. This can't be captured in a FTL template being used as a DSL.

I do think there is a need for a ROBUST

[2021-08-04 04:15] DanielJoyce commented on #42
Initially I'd stick to best practices for each use case.

For SPA, ocid using pkce. Redirect to service hosted form or hosted iframe, support authorization code and refresh token. Document needs around third party cookies, configuring custom domains to handle cors issues, etc. This would apply to authfusion and okta along with others as well. You can support your own service explicitly and ask for

[2021-09-11 11:13] miaucl opened #58 "User Search by Ids Fails with multiple Ids"
**Problem**

`client.userSearchByIds` and `client.userSearchByQuery` using _ids_ are incoherent and give different results.

**How to recreate**

When I am searching for users by id, I have two options. Either the `client.userSearchByIds` or `client.userSearchByQuery` using _ids_. Therefore I would prefer the first one, but when I give it a list of ids, an error gets returned. When I use the same

[2021-09-11 16:17] mooreds commented on #58
Can you share the URL requested by both of these client library calls, please? (Via devtools or some other manner.)

[2021-09-11 16:56] miaucl commented on #58
Sure:

[code]

[code]

I am using the debug flag for the underlying `http` service of node.

The first request us the one uses `searchUserByIds` and is performed as a `GET` request which the second one uses `searchUserByQuery` and uses a `POST` request. I did not append the `POST` body as this is working, but you can see the `url` of the failing `GET` request by `searchUserByIds`.

[2021-09-13 15:41] mooreds commented on #58
Thanks! It looks like the get with multiple ids is not being handled correctly.

From the doc: https://fusionauth.io/docs/v1/tech/apis/users/#search-for-users

[code]

From your request:

[code]

which, url decoded, is:

[code]

Here's the defn of that API in our DSL: https://github.com/FusionAuth/fusionauth-client-builder/blob/master/src/main/api/searchUsersByIds.json

Here's the resulting TS: ht

[2021-09-13 20:37] miaucl commented on #58
I am currently using the alternative solution with the POST request as a work around. So no hurries, but happy to help ;)

[2021-09-16 16:39] Ilchuk-Mihail opened #59 "Issues with building app with fusionauth-typescript-client"
When I try to build app `tsc --build` with lib installed, I get an error like this:

[code]

The quick fix is to add "@types/node-fetch": "^2.5.7" to dependencies.

Current version of node-fetch already contains types but, there is no such type like `RequestCredentials`.

Is there any other fix ? or is it possible to update node-fetch here to the latest one ?

[2021-09-16 18:19] Ilchuk-Mihail opened #60 "What is the default timeout for the operation ?"

[2021-09-17 15:12] mooreds commented on #60
This is a support question and is best asked in our community forum: https://fusionauth.io/community/forum/

[2021-09-17 15:12] #60 closed

[2021-09-21 22:02] mooreds commented on #59
Thanks for the bug report. Will take a look in the next few days.

[2021-10-26 14:53] pmolaro opened #61 "UpdateUser Changes the Password Unexpectedly"
In my API, I am using the Typescript client, v1.30.2. My API in general interacts with our FusionAuth account by making calls Bia the TS client.
I have a service function for updating a user. It takes in a user DTO model with properties that I need to change (ex. firstName, last name, etc). The DTO implements the FA User model.

In my service, the code flow is: I look up the user in FusionAuth by

[2021-10-27 15:21] #61 closed, assigned to nobody

[2021-11-09 14:29] koshkarov commented on #59
Same issue with 1.30.2.

[2021-11-17 15:19] ocean-rey commented on #59
for anyone else coming here from a google search, here's how i got it "working" in my project:

install node package [patch-package](https://www.npmjs.com/package/patch-package)
`npm install --save patch-package`

in your package.json file add the following script to the `"scripts"` block
`"postinstall": "patch-package"`

in `/node_modules/@fusionauth/typescript-client/build/src/FusionAuthClient.d

[2021-11-17 15:29] ocean-rey commented on #59
I did try this but it didn't seem to work for me; perhaps i'm doing something wrong?

[2021-11-17 15:57] Ilchuk-Mihail commented on #59
For me `tsc --build` didn't work (errors at the first comment), but when I installed that package to devDependencies, the build works. (So just adding this and reinstall packages works for me)

[2021-12-07 10:53] ngoc199 commented on #19
I'm using `1.31.0` and this is not fixed yet.

[2022-02-16 18:13] mooreds commented on #27
This looks like it is due to the fact this object is exported as `default class` rather than `class`.

https://github.com/FusionAuth/fusionauth-typescript-client/blob/master/src/ClientResponse.ts

https://stackoverflow.com/questions/33305954/typescript-export-vs-default-export

[2022-02-22 19:53] shemming opened #72 "patchRegistration not working as intended"
https://github.com/FusionAuth/fusionauth-typescript-client/blob/3b272588360c8b35c9a83c9e9da8defa37632fe3/src/FusionAuthClient.ts#L2029

I was attempting to use the `patchRegistration` call linked above and noticed it was wiping out / overwriting registration information instead of updating an entry / adding to an array. This endpoint looks like it is actually hitting the `Create a User Registratio

[2022-02-24 19:18] mooreds commented on #72
@shemming sorry to hear that!

We have some issues with patch support (see https://github.com/FusionAuth/fusionauth-issues/issues/441 and upvote it if it is important to you).

Can you please share sample code so we can see if this is an issue with the client library or something else?

[2022-02-24 19:34] shemming commented on #72
sure!

when using the client the call looked like this:

[code]
i had to make a call before this to get the registration info and add the additional roles to the existing roles to get `newRoles`.

when making the axios call it looks like this:
[code]
when doing it this way, the new role was correctly concatenated to the existing list without having to make a call to get the existing roles first.

[2022-04-04 19:00] quarryman opened #74 "SDK method to return current access token or refresh it if expired"
Hi team.

I am trying to mimic SDK behavior available in Auth0 js client or AWS Cognito js client (Amplify), which both provide SDK method to retrieve current token or automatically refresh it silently and return refreshed one, so that one dont have to handle expiration manually.

Auth0 will always return current(refreshed if needed) token with
`Auth0.getTokenSilently() `

Cognito provides similar

[2022-04-04 19:15] mooreds commented on #74
@quarryman FusionAuth's client libs are pretty close to the metal and don't currently offer that functionality.

I'd be happy to review a PR.

[2022-04-05 12:13] quarryman commented on #74
thanx for being responsive @mooreds
At this stage we are evaluating FusionAuth, I would consider PR if we find match with the library.
Thanx!

[2022-04-05 12:16] mooreds commented on #74
No worries, @quarryman !

We can leave this open and see if other community members chime in and want it.

[2022-04-11 13:55] glen-84 commented on #74
We definitely want this (along with PKCE handling). I've opened [#1674](https://github.com/FusionAuth/fusionauth-issues/issues/1674) since this is not specific to the TS client.

[2022-04-19 19:51] fatshark-ace commented on #30
Another one of these use cases would be to provide settings to the agent keepAlive, as documented here!
https://github.com/node-fetch/node-fetch#custom-agent

As the client is a fairly direct mapping to the service APIs, it's common to fire a handful of requests in succession to the same endpoint.

[2022-04-22 04:29] pharapeti commented on #72
Also running into this issue. When using `patchRegistration`, the user's registration roles are being wiped - even though I have not specified the roles key in the `RequestRequest`

[2022-05-07 08:03] armanatz opened #75 "ClientResponse `exception` key should be defined as `Errors` type instead of `Error`"
Referring to [this line](https://github.com/FusionAuth/fusionauth-typescript-client/blob/3980301c94ef55f00a36675ff78427da34b1e4db/src/ClientResponse.ts#L20), shouldn't the defined type be `Errors` to conform with the interface [found here](https://github.com/FusionAuth/fusionauth-typescript-client/blob/3980301c94ef55f00a36675ff78427da34b1e4db/src/ClientResponse.ts#L20)? Right now, `Error` refers t

[2022-06-30 10:51] kamalkech commented on #58
@mooreds ```?ids={uuid}&ids={uuid}``` that s not make sense !! duplicate arguments

[2022-06-30 12:51] mooreds commented on #58
Thanks for the feedback @kamalkech !

I get that it might feel counter-intuitive, but it's actually an approached used by checkboxes all the time. See https://developer.mozilla.org/en-US/docs/Web/HTML/Element/input/checkbox#handling_multiple_checkboxes for more.

[2022-06-30 16:24] kamalkech commented on #58
@mooreds ok, just last question, how can fech users by applicationID, can u share any example using database engine search ?

[2022-06-30 18:26] mooreds commented on #58
@kamalkech That is a great question for our forum: https://fusionauth.io/community/forum/

An alternative would be to read the documentation on the user search API. The client libraries are a thin wrapper over the APIs, so they should translate directly: https://fusionauth.io/docs/v1/tech/apis/users#search-for-users

[2022-07-09 02:43] theogravity opened #77 "retrieveUserByX does not allow specification of a tenant id"
The following methods do not allow the specification of a tenant id, which is problematic when you have multiple tenants:

- `retrieveUserByUsername`
- `retrieveUserByEmail`

[code]

[2022-07-09 16:17] mooreds commented on #77
You should be able to add the tenantId via the `setTenantId` method:
https://github.com/FusionAuth/fusionauth-typescript-client/blob/master/src/FusionAuthClient.ts#L40

Have you tried that and found it didn't work?

[2022-07-10 10:16] akoskm commented on #42
@robotdan any updates on this? `register`'s first parameter is also optional in the docs but it's not in the actual types:

https://github.com/FusionAuth/fusionauth-typescript-client/blob/4106f566966627d2f392a0ae5817693a6772cc51/src/FusionAuthClient.ts#L2256-L2267

[2022-07-11 17:33] mooreds commented on #77
You are correct. If you have multiple tenants, you'll want to create multiple clients and call `setTenantId` on each of them appropriately.

[2022-07-11 17:33] mooreds commented on #77
Please close this issue if the workaround is acceptable.

[2022-07-11 17:34] theogravity commented on #77
Thanks!

[2022-08-29 15:52] ansonallard opened #78 "Client and API Documentation don't align - searchEntityTypes"
When I went to set the correct permissions on my API key to call the `searchEntityTypes` function, I visited the [FusionAuth Entity Type documentation](https://fusionauth.io/docs/v1/tech/apis/entity-management/entity-types#search-for-an-entity-type) and found that the API call was a GET for searching entity types. I then set my api key to allow GET on `/api/entity/type/search`. However, I still re

[2022-08-29 16:47] mooreds commented on #78
Thanks @ansonallard

I looked at this API and both GETs and POSTs should work.

Does that help?

I'll take a todo to update it.

[2022-08-29 20:11] ansonallard commented on #78
Hey @mooreds - I was able to get the POST to work as well. Thanks for queuing an update. 😄 I just wanted to let your team know that the documentation specified one verb and the client library used another, so I just wanted to make sure I understood what was the correct/intended verb for the use case.

[2022-10-02 12:34] IzydorDPS opened #79 "client.logout("refreshtokien here") dont work"
i was forced to replace method above with client.logoutWithRequest(logoutRequest); witch is basicly the same so it dont change anything but its still a bug

problem:
when calling client.logout("refreshtokien here") i get exception that api consumes only application/json but api sends plain/text
method:

![image](https://user-images.githubusercontent.com/35769682/193454184-2217cd1f-c9de-46bc-8085-b

[2022-10-03 04:28] robotdan commented on #79
If you omit the `Content-Type` request header, does it work ok?

I think the issue is in our builder, I think this was a carry over from native JavaScript where the browser doesn't want to make a POST request w/out a content type header. But I don't think we need this in TypeScript.

https://github.com/FusionAuth/fusionauth-client-builder/blob/5ec210211dac37cdb314dd0e7cd132b2165f04af/src/main/clie

[2022-10-17 15:14] impact-erik commented on #79
Same issue here. I have done this
[code]

[2022-11-25 18:36] kupilikula commented on #10
Facing same issue with FusionAuth Typescript client 1.41.0 . The register method successfully registers a new user but the client response promise resolves to an error with empty error body `{}`.

[2022-11-25 19:42] kupilikula commented on #10
Nevermind, the error I was getting was from processing the response JSON wrongly. It works for me now.

[2022-11-28 14:58] lancegliser commented on #29
This seems to be the same issue as #19